# Ignoruj pliki systemowe
.DS_Store
Thumbs.db

# Ignoruj konfiguracje IDE
.vscode/
.idea/
*.sublime-workspace

# Ignoruj foldery XAMPP
xampp/

# Ignoruj dane wrażliwe
*.env
config.php

# Ignoruj pliki tymczasowe
*.log
*.tmp

# Ignoruj foldery z kompilacjami
node_modules/
dist/

# Ignoruj pliki cache
*.cache
